body{
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.topo a{
  color: #00aaff;
  text-decoration: none;
  font-size: 14px;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.galeria img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.galeria img:hover{
  transform: scale(1.05);
}




#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal img{
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#modal img{
  pointer-events: none;
}


